 <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name}}
          <a href="{% url 'posts_1:profile' post.author %}"> Все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y"}}
        </li>
      </ul>
      <p>{{post.text | linebreaks }}</p>
      <a href="{% url 'posts_1:post_detail' post.id %}"> Подробная информация </a>
    </article>
      {%if post.group and show_group_link %}
      <a href="{% url 'posts_1:posts_main_padge' %}">все записи группы</a>
      {% endif %}
  {% if not forloop.last %}<hr>{% endif %}