<!-- templates/about/author.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор этого проекта</h1>
<p>
  Здесь будет немного информации обо мне. 
</p>
<p>
    Я считаю, что за програмированием будущее и хочу идти в ногу со временем не отставая от него.
</p>
<p>
    В этом мне помогают мои верные помошники:
</p>
<ul>
    <li>
        Кот и Собака. Разбудят, будут держать в тонусе и поддерживать мой рабочий дух.
    </li>
    <img src={% static 'img/cat_and_dog.png' %}>
    <li>
        Кружка с кофе. Не даст уснуть в трудные минуты.
        <img src={% static 'img/krug.png' %}>
    </li>
</ul>
<p>
    Порой разрабатываю очень интересные проекты и выкладываю их сюда
</p>
<a href="https://github.com/AlexSimnov">Мой гит)))</a>
{% endblock %}